.aboutUstxt {
  height: 700px;
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/img/hero.png);

  padding: 160px 20px 0 20px;
  color: aliceblue;
  font-size: 18px;
}

.hero {
  width: 100%;
  height: 100vh; /* на всю висоту екрану */
  margin: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/img/hero.png);

  display: flex;
  justify-content: center; /* вирівнює текст по горизонталі */
  align-items: center; /* вирівнює текст по вертикалі */

  color: aliceblue;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  box-sizing: border-box;
}
